/* a css comment (ctrl + /) */
h1 {
  color: coral;
  font-size: 4rem;
} /* a css rule */

h2 {
  color: cornflowerblue;
}

/* selector */
/* declaration block */
/* declaration */
/* property */
/* value */
